* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin:0;
    overflow: hidden;
}

#fond {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 150px;
}


.iconeMenu {
    background: url('./menu.png') no-repeat;
    cursor: pointer;
    height: 42px;
    width: 47px;
}

h2, h3 {
    text-transform: capitalize;
}

h2 {
    font-size: 4em;
    font-weight: 800;
}
h3 {
    font-size: 3em;
    font-weight: 700;
}
p {
    font-size: 1.1em;
    font-weight: 400;
    max-width: 700px;
}

#trailer {
    background-color: white;
    color:#111;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 30px 10px 30px;
    display: inline-block;
    margin-top:10px;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}
#trailer:hover {
    letter-spacing: 6px;
}

#social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 145px;
    padding: 0;
}


#social img {
    zoom: 0.8;
    transition: 0.2s ease-in-out;
}
#social img:hover {
    transform: translateY(-15px);
}

.vitrine {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.vitrine > * {
    margin-left: 15px;
}

.vitrine.afficheMenu {
    right: 300px;
}

.iconeMenu.afficheMenu {
    background: url('close.png') no-repeat; 
}

/* .menu {
    display: block;
    position: absolute;
    top: 43vh;
    right: -205px;
    z-index: -2;
    width: 120px;
    height: 8vh;
    visibility: hidden;
    display: none;
    font-size: 50px;
} */
.menu {
display: block;
position: absolute;
top: 40%;
right: -70px;
z-index : -2 ;
width: 300px;
height: 100vh;
margin: 0;
transition: 0.15s ;
}

.menu * {
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
    color: #111;
}

.menu.afficheMenu {
    z-index: 2;
    visibility: visible;
    display: block;
}