h2 {
    background-color: #203961;
    }

div:nth-child(even) {
    background-color: #e1755e;
}

div:nth-child(odd) {
    background-color: #5d554b;
}

#flex {
    height: 300px;
    background-color: #a2cdb8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch;
}

h2 {
    order: 1;
    align-self: stretch;
}
/* Created by : https://github.com/Fifie38
  ______ _____ ______ _____ ______ ____   ___  
 |  ____|_   _|  ____|_   _|  ____|___ \ / _ \
 | |__    | | | |__    | | | |__    __) | (_) |
 |  __|   | | |  __|   | | |  __|  |__ < > _ < 
 | |     _| |_| |     _| |_| |____ ___) | (_) |
 |_|    |_____|_|    |_____|______|____/ \___/ 
                                               
   Created by : https://github.com/Fifie38 */