
body {
    background: no-repeat;
}

h1 {
    color: blue;
}

#resultat3 {
    padding: 25px;
    color: white;
}

.cont {
    position: relative;
}

#info-bulle {
    position: absolute;
    background-color: gainsboro;
    top: -50px;
    left: 150px;
    padding: 35px;
    border-radius: 15px;
    visibility: hidden;
}

/* Created by : https://github.com/Fifie38
  ______ _____ ______ _____ ______ ____   ___  
 |  ____|_   _|  ____|_   _|  ____|___ \ / _ \
 | |__    | | | |__    | | | |__    __) | (_) |
 |  __|   | | |  __|   | | |  __|  |__ < > _ < 
 | |     _| |_| |     _| |_| |____ ___) | (_) |
 |_|    |_____|_|    |_____|______|____/ \___/ 
                                               
   Created by : https://github.com/Fifie38 */

