@font-face {
    font-family: 'FreeMono';
    src: url(./) format('truetype');
}

body {
    background: linear-gradient(to top, #3c9ddb, #cbd6e1);
    min-height: 900px;
    width: 80%;
    margin: auto;
    font-family: 'FreeMono', sans-serif;
}

.header-main {
    background-color: #b6c7d9;
    text-align: center;
}
.header-main:hover{
    background-color: #8bb7e5;  
}

.header-main a {
    color: black;
}
.header-main p {
    margin-top: 0;
}

.windows {
    border: 6px double #fff;
    margin-top: 2em;
}

.intro ul {
    background-color: rgb(44, 180, 152);
    list-style-type: none;
    padding: 10px;
}

.intro a {
    color: white;
    text-decoration: none;
}
.intro a:hover {
    background-color: white;
    color: rgb(44, 180, 152);
}
h2 {
    background-color: rgb(44, 180, 152);
    color:white;
    padding: 3px;
}


