
body {
    background: no-repeat;
}

h1 {
    color: blue;
}

#resultat3 {
    padding: 25px;
    color: white;
}

.cont {
    position: relative;
}

#info-bulle {
    position: absolute;
    background-color: gainsboro;
    top: -50px;
    left: 150px;
    padding: 35px;
    border-radius: 15px;
    visibility: hidden;
}

