body {
    margin: 0;
}

header, footer{
    background-color: #344648;
    text-align: center;
    color:  #fbe0c3;
    padding: 20px;
}

header > img {
    position: absolute;
    left: 7%;
    top: 10px;
}

main {
    display: flex;
    }

main > * {
    padding: 15px;
}

nav {
    order:-1;
    background-color: #fbe0c3;
    color: #7d8e95;
    flex:1;
}

section {
    background-color: #7d8e95;
    color: white;
    flex: 2;
}
aside {
    background-color: #ffbb98;
    color: white;
    flex:1;
}

@media(max-width: 800px) {
    main {
        flex-direction: column;
    }
}
/* Created by : https://github.com/Fifie38
  ______ _____ ______ _____ ______ ____   ___  
 |  ____|_   _|  ____|_   _|  ____|___ \ / _ \
 | |__    | | | |__    | | | |__    __) | (_) |
 |  __|   | | |  __|   | | |  __|  |__ < > _ < 
 | |     _| |_| |     _| |_| |____ ___) | (_) |
 |_|    |_____|_|    |_____|______|____/ \___/ 
                                               
   Created by : https://github.com/Fifie38      */
