
body {
    background: radial-gradient(circle, rgba(238,192,174,1) 0%, rgba(148,187,233,1) 100%);
}
h1, h2, h3, p, table {
    background-color:orange;
    padding: 3%
}

a, img, div {
    background-color: deeppink;
}