* {
    font-family: monospace;
}

body {
    margin:0;
    background-color: orange;
    transition: 0.5s ease-in-out;
}

main {
    display: flex;
}

main nav, main div {
    flex: 1 0 auto;
}

#borne {
    height: 180px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#logo {
    height: 100px;
    margin-bottom: 30px;
}

.header-section {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    transition: 0.2s;
    font-size: 1.3em;
    color: black;
    letter-spacing: 0.1em;
}

main a  {
    text-decoration: none;
}

li:hover{
    background-color: black;
    color: orange;
}


.majuscule {
    color: orange;
}
section {
    flex: 4 0 0;
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 1.3em;
    line-height: 1.3em;
}


#para-1 {
    margin: 0;
}

.para-1-box {
    display: flex;
}


#couleur-box {
    border: solid black 1.5px;
    margin: 20px;
    padding: 20px;
    color: white;
}

#couleur-box h2 {
    margin: 5px 0;
}

form :last-child {
    margin: 5px 0;
}

footer {
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
