body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    color: #fbe2c6;
    background-color: #3a4c4e;
}

header h1 {
    margin-bottom: 0;
}

nav {
    background-color: #fbe2c6;
}

section {
    background-color: #a9bbc3;
}

footer {
    background-color: #3a4c4e;
    color: #fbe2c6;
}

footer a {
    color: #fbe2c6;
    
}

a {
    text-decoration: none;
}

