.intro ul {
    background-color: rgb(44, 180, 152);
    list-style-type: none;
    padding: 10px;
}

.intro a {
    color: white;
    text-decoration: none;
    
}
.intro a:hover {
    background-color: white;
    color: rgb(44, 180, 152);
}
h2 {
    background-color: rgb(44, 180, 152);
    color:white;
    padding: 3px;
}
body {
    font-family: sans-serif;
}
